<div class="container row">
    <div class="offset-3 col-6">
        <h1>Add Contact</h1>
        <form class="example-form" [formGroup]="addcontactForm" (ngSubmit)="addContact()">
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Ex. Nadhem" formControlName="fName">
            </mat-form-field>
            <mat-error *ngIf="submitted && addcontactForm.controls.fName.hasError('required')">
              First Name is required
            </mat-error>

            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Bouazza" formControlName="lName">
            </mat-form-field>
            <mat-error *ngIf="submitted && addcontactForm.controls.lName.hasError('required')">
              Last Name is required
            </mat-error>

            <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput placeholder="Ex. azert@gmail.com"  formControlName="email">
            </mat-form-field>
            <mat-error *ngIf="submitted && addcontactForm.controls.email.hasError('required')">
              email is required
            </mat-error>

            <mat-form-field class="example-full-width">
                <mat-label>Tél</mat-label>
                <input type="tel" matInput placeholder="Ex. 22000000" formControlName="tel">
            </mat-form-field>
            <mat-error *ngIf="submitted && addcontactForm.controls.tel.hasError('required')">
              tel is required
            </mat-error>

            <div class="example-button-row">
            <button mat-raised-button color="primary" style="margin: 10px auto;" type="submit" [disabled]="addcontactForm.invalid"><i class="fas fa-plus"></i> Add</button>
            <button class="float-right" mat-raised-button color="dark" style="margin: 10px auto;" type="button" [routerLink]="['/dashbord']"><i class="fas fa-arrow-alt-circle-left"></i> Cancel</button>
            </div>
        </form>
    </div>
  </div>
  

