<div class="container row">
    <div class="offset-3 col-6">
        <h1>Sign In</h1>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
            

            <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput placeholder="Ex. azerty@gmail.com"  formControlName="email">
            </mat-form-field>
            <mat-error *ngIf=" submitted && loginForm.controls.email.hasError('required')">
                E-mail is required
            </mat-error>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput   formControlName="password">
            </mat-form-field>
            <mat-error *ngIf="submitted && loginForm.controls.password.hasError('required')">
              Password is required
            </mat-error>

            <div class="example-button-row">
            <button mat-raised-button color="primary" style="margin: 10px auto;" type="submit" [disabled]="loginForm.invalid">Sign In</button>
            <button class="float-right" mat-raised-button color="dark" style="margin: 10px auto;" type="button" [routerLink]="['/register']">Go to Sign Up</button>
            </div>
        </form>
    </div>
  </div>
  
